{% extends "base.html" %}
{% set active_page = "list_images" %}

{% block title %}List Images{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<div style="display: flex;
  justify-content: center;">
    <form action="/images/upload-image" enctype="multipart/form-data" method="post">
        <div class="input-group" style="
        margin-top: 20%;">

          <input type="file" name="file" accept=".jpg, .png" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
          <button  class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">ENVIAR</button>

        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}